{%extends 'base.html'%}
{%load static %}

{% block title %}About{% endblock %}

{%block content%}
    <!-- Content -->
    <div class="content-wrapper">
        
        
        <div class="text-section">
            <div class="text-title">
                <h2> About us</h2>
            </div>
            <div class="text-content">
                <p>Placeholder to for beatifull text about me </p>
            </div>
        </div>
        
        <div class="item-grid-container">
            
            <div class="item-container">
                <div class="catalog-item-content">
                    <div class="catalog-icon">
                        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
                    </div>
                    <div class="item-content-container">
                        <div class="catalog-item-title"><h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3></div>
                        
                        <div class="catalog-text">
                            <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
                        </div>
                        
                    </div>
                    
                </div>		                    
            </div>

            <div class="item-container">
                <div class="catalog-item-content">
                    <div class="catalog-icon">
                        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
                    </div>
                    <div class="item-content-container">
                        <div class="catalog-item-title"><h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3></div>
                        
                        <div class="catalog-text">
                            <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
                        </div>
                        
                    </div>
                    
                </div>		                    
            </div>
            <div class="item-container">
                <div class="catalog-item-content">
                    <div class="catalog-icon">
                        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
                    </div>
                    <div class="item-content-container">
                        <div class="catalog-item-title"><h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3></div>
                        
                        <div class="catalog-text">
                            <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
                        </div>
                        
                    </div>
                    
                </div>		                    
            </div>
            <div class="item-container">
                <div class="catalog-item-content">
                    <div class="catalog-icon">
                        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
                    </div>
                    <div class="item-content-container">
                        <div class="catalog-item-title"><h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3></div>
                        
                        <div class="catalog-text">
                            <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
                        </div>
                        
                    </div>
                    
                </div>		                    
            </div>

            
        </div>
    </div>
{% endblock %}    