{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

<!-- HERO  -->
{%block hero%}

<div class="hero-wrapper" id="account-hero">
    

    <div class="hero-content">

        <div class="hero-content-wrapper">
            <div class="text-blok-container">
                <h1>Welcome {{request.user.username}}</h1>
            </div>
            <div class="btn-container">
                <a href="#info"  rel="noopener noreferrer"></a>
                    <div class="btn">
                        View your libary
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{%endblock%}

<!-- Content -->
{% block content%}

    
    <div class="content-wrapper" id="info">
        <h1>Howdy  {{request.user.username}}</h1>
        <h1>Your Boeken catalog</h1>
        <div class="categories-container">    
            <h3>Categories:</h3>
            <ul class="categories-wrapper">
                <li class="categorie-item"> All</li>
                <li class="categorie-item"> Roman</li>
                <li class="categorie-item"> Politiek</li>
                <li class="categorie-item"> Thriller</li>
            </ul>
        </div>
        <div class="item-grid-container">
            {%for review in review_collection%}
                
            <div class="item-container">
                <div class="category-item-header">
                    
                    <h2>{{review.book.title}}</h2>
                </div>
                
                <a  href="/book/{{review.book.id}}/">
                    <div class="image-container">                        
                        <img  class= "item-image" src="/media/{{review.book.image}}" alt="" srcset="">
                    </div>
                </a>

                <div class="item-content-container">
                    <div class="item-title">
                        {{review.book.author}}
                    </div>
                    
                    <div class="item-content">
                        <h3>{{review}}</h3>
                        <p>{{review.reviewText}}</p>
                        
                    </div>
                    <a  class="link" href="/book/{{review.id}}">Read more</a>   
                </div>
            </div>
        {%endfor%}
            
        </div>
        <div class="edit-account-button">
            <a  href="{% url 'edit-account' %}">EDIT ACCOUNT</a>
        </div>
        
    </div>


{%endblock%}