{% extends 'base.html' %}
{% load static %}

{% block title %}Add Book{% endblock %}
<!-- HERO  -->
{%block hero%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="hero-wrapper" id="add-book-hero">
    

    <div class="hero-content">

        <div class="hero-content-wrapper">
            <div class="text-blok-container">
                <h1>Share your book experience </h1>
            </div>
            <div class="btn-container">
                <a href="#info"  rel="noopener noreferrer">
                    <div class="btn">
                        Add you red
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block content%}


<div class="add-item-form-container" id="info">
    <div class="icon-container">
        
        <i class="fa-solid fa-pen-clip fa-5x p-3 mb-4 add-item-icon" id="add-review-icon"></i>
        <i class="fa-solid fa-arrow-up fa-5x p-3 mb-4 add-item-icon close-form" id="close-review-icon"></i>
        <h3>Add Book Review</h3>
    </div>
    
    <form action="" method="post" enctype="multipart/form-data" class="add-item-form" id="add-review-form">
        {% csrf_token %}
        {{add_review_form}}
        <p>didn't find the book you red? Add it <a href="#add-book-icon">here</a> </p>
        <input type="submit" value="SUBMIT" name="add_review_form">
    </form>
</div>

<div class="add-item-form-container">
    <div class="icon-container">
        <i class="fa-solid fa-book fa-5x p-3 mb-4 add-item-icon" id="add-book-icon"></i>
        <i class="fa-solid fa-arrow-up fa-5x p-3 mb-4 add-item-icon close-form" id="close-book-icon"></i>
        <h3>Add Book</h3>
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="add-item-form" id="add-book-form">
        {% csrf_token %}
        {{add_book_form}}

        <p>didn't find the right author of your book? add him/her?  <a href="#add-author-icon">here</a> </p>
        <p>didn't find the right publisher of your book? add him?  <a href="#add-publisher-icon">here</a> </p>
        <input type="submit" value="SUBMIT" name="add_book_form">
    </form>
</div>

<div class="add-item-form-container">
    <div class="icon-container">   
        <i class="fa-solid fa-user-pen fa-5x p-3 mb-4 add-item-icon" id="add-author-icon"></i>
        <i class="fa-solid fa-arrow-up fa-5x p-3 mb-4 add-item-icon close-form" id="close-author-icon"></i>
        <h3>Add Author</h3>

    </div>
    <!-- Bootstrap 4 -->
    {{add_author_form.media}}

    <form action="" method="post" enctype="multipart/form-data" class="add-item-form" id="add-author-form">
        {% csrf_token %}
        {{add_author_form}}        
        <input type="submit" value="SUBMIT" name="add_author_form">
    </form>
</div>


<div class="add-item-form-container">
    <div class="icon-container">
        <i class="fa-solid fa-building fa-5x p-3 mb-4 add-item-icon" id="add-publisher-icon"></i>
        <i class="fa-solid fa-arrow-up fa-5x p-3 mb-4 add-item-icon close-form" id="close-publisher-icon"></i>
        <h3>Add Publisher</h3>
    </div>
    
    <form action="" method="post" enctype="multipart/form-data" class="add-item-form" id="add-publisher-form">
        {% csrf_token %}
        {% bootstrap_form add_publisher_form %}        
        <input type="submit" value="SUBMIT" name="add_publisher_form">
    </form>
</div> 

{%endblock%}    