{% extends 'base.html' %}
{% load static %}

{% block title %}Edit account{% endblock %}

<!-- HERO  -->
{%block hero%}

<div class="hero-wrapper">
    

    <div class="hero-content">

        <div class="hero-content-wrapper">
            <div class="text-blok-container">
                <h1>Edit your account</h1>
            </div>
            <div class="btn-container">
                <div class="btn">
                    <a href="info" target="_blank" rel="noopener noreferrer">text</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block content%}    
<div class="content-wrapper" id="info">
    <h3>Edit your account info</h3>
    <form action="" method="POST" enctype="multipart/form-data" class="edit-account-form" >
        {% csrf_token %}
        
        {% for field in editAccountForm %} 
            
            {{field.label}}
            {{field}}
            <br>
        {% endfor%}
        <input type="submit" value="SUBMIT" name="editAccountForm">
    </form>
</div>
{%endblock%}