<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        #seeMore {
          display: none;
        }
      
        #seeMore:target {
          display: block;
        }
      </style>

    <a href='#seeMore'>
        See more!
      </a>
      
      <section id='seeMore'>
        <p>
          Here's some more info that you couldn't see before. I can only be seen after you click the "See more!" button.
        </p>
        <a href='#'>Hide text</a>
    </section>
      
</body>
</html>