{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

<!-- HERO  -->
{%block hero%}

<div class="hero-wrapper" id="home-hero">
    

    <div class="hero-content" >

        <div class="hero-content-wrapper">
            <div class="text-blok-container">
                <h1>Welcome</h1>
            </div>
            <div class="btn-container">
                <div class="btn">
                    <a href="" target="_blank" rel="noopener noreferrer">Explore new books to read</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

<!-- Content -->
{% block content%}
    <div class="content-wrapper">
        <h1>Our Boeken catalog</h1>
        <div class="categories-container">    
            <h3>Categories:</h3>
            <ul class="categories-wrapper">
                <li class="categorie-item"> All</li>
                <li class="categorie-item"> Roman</li>
                <li class="categorie-item"> Politiek</li>
                <li class="categorie-item"> Thriller</li>
            </ul>
        </div>
                            
        <h2>Highlight for you</h2>
        <div class="item-grid-container">
            
            
            {%for key, value in book_collection%}
            
                <div class="item-container">
                    <div class="category-item-header">
                        <h2>{{value.book.title}}</h2>
                    </div>
                    <div class="image-container">
                        <img  class= "item-image" src="/media/{{value.book.image}}" alt="" srcset="">
                    </div>
                    <div class="item-content-container">
                        <div class="item-title">
                            {{value.book.author}}
                        </div>
                        <div class="item-content">
                            
                            <h2>{{value.avg_score}}</h2>
                        </div>
                    </div>
                </div>
            {%endfor%}
                        
        </div>

        <h2>Discover a new book</h2>
        <div class="item-grid-container"> 
            {%for category,book in category_collection.items%}
            <div class="item-container">
                <div class="category-item-header">
                    <h3>{{book.book}}</h3>
                </div>
                

                <div class="image-container">
                    <img  class= "item-image" src="/media/{{book.book.image}}" alt="" srcset="">
                </div>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>{{category}}</p>
                    </div>
                    <div class="item-title">
                        <h3>{{book.review}}</h3>
                    </div>
                </div>
            </div> 
            {%endfor%}
            
        </div>
        <h2>Discover a new Author</h2>
        <div class="author-grid-container"> 

            <div class="item-container"> 
                <div class="image-container author-image">
                    <img  class= "item-image" src="/media/{{author.book.author.image}}" alt="" srcset="">
                </div>
            </div> 
            
            <div class="item-container">
                <div class="item-content-container about-author">
                    <div class="item-title">
                        <h3>{{author.book.author}}</h3>
                    </div>
                    <div>{{author.book.author.birthday}}</div>
                    <div class="item-content">
                        {% if author_book.author.about != None %}
                            <p>{{author_book.author.about}}</p>
                        {%endif%}
                        <p>placeholder about</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{%endblock%}